/*

Project Name: Cookie Monster
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org
Developed @ One Month in NYC

*/
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@100&display=swap');

body {
    background: url('../images/programmer-working-from-home.webp');
    background-position: center;
    /* the follow is the code to have the image display as a full page */
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ysabeau Infant', sans-serif;
}

#container {
    background: #EFFFC8;
    width: 424px;
    color: #100B00;
    padding: 15px;
}


h1 {
    font-size: 60px;
    font-family: 'Dongle', sans-serif;
}

h2 {
    background: #75c1ff;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 32px;
    font-family: 'Dongle', sans-serif;
}

a {
    color: #75c1ff;
    text-decoration: none;
}
